.performance-container {
    width: 30%;
    height: 260px;
    background-color: #282D30;
    border-radius: 5px;

    tspan {
        font-size: 10px;
    }
}

.recharts-polar-angle-axis-tick {
    transform: translateY(4px);
}

@media screen and (min-width: 1440px) {

    .performance-container{

        tspan {
            font-size: 12px;
        }
    }
}
