.cardUser {
    display: flex;
    gap: 60px;

    .link {
        text-decoration: none;
        border-radius: 5px;
        
        &.mock {
            border: 5px solid black;
        }
    
        &.api {
            border: 5px solid red;
        }
    }
}

.w-card-user-home {
    width: 200px;
    height: 200px;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;


    .card-user-home-title {
        font-size: 30px;
        font-weight: 500;
        color: #000000;
    }
}