.activity-container {
    height: 280px;
    display: flex;
    align-items: flex-end;
    background-color: #FBFBFB;
    padding: 0px 10px 0px 20px;
    border-radius: 5px;
}

.custom-tooltip {
    background-color: #E60000;
    color: #fff;
    padding: 5px 5px;
    height: auto;
    max-width: 40px;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
Ò
.recharts-responsive-container {
    font-size: 14px;
}

.recharts-legend-item-text {
    color: #74798C !important;
}
